mode: bridge-only
backbone_bridge: bcd
sde: bridgegan

# ---- dataset & experiment ----
dataset_name: Libritts
raw_wavfile_path: ./data/train/audio                  # 你的 44.1k wav 根目录
train_data_dir: ./data/train/train.txt     # 由 make_scp_from_dir.py 生成
val_data_dir: ./data/train/val.txt         # 由 make_scp_from_dir.py 生成
ckpt: epoch=4-periodicity=0.0000-v1.ckpt
max_steps: 1000000
max_epochs: 3100
fix_seed: false
nolog: false
logstdout: false

ScoreModelGAN:
  opt_type: AdamW
  lr: 0.0005
  beta1: 0.8
  beta2: 0.99
  ema_decay: 0.999
  t_eps: 0.03
  num_eval_files: 20
  loss_type_list: "score_mse:1.0,multi-mel:0.1,multi-stft:0.05"
  use_gan: true

SDE:
  beta_min: 0.01
  beta_max: 20.0
  c: 0.4
  k: 2.6
  bridge_type: gmax
  N: 4
  sampling_type: sde_first_order

BackboneScore:
  nblocks: 8
  hidden_channel: 256
  f_kernel_size: 9
  t_kernel_size: 11
  mlp_ratio: 1
  ada_rank: 32
  ada_alpha: 32
  ada_mode: sola
  use_adanorm: true
  act_type: gelu
  pe_type: positional
  scale: 1000
  decode_type: ri
  causal: false

DataModule:
  batch_size: 1
  sampling_rate: 44100
  n_fft: 2048
  num_mels: 256
  hop_size: 512
  win_size: 2048
  fmin: 0
  fmax: 22050
  num_frames: 256
  phase_init: zero
  num_workers: 4
  spec_factor: 0.33
  spec_abs_exponent: 0.5
  normalize: true
  transform_type: exponent
  drop_last_freq: true

Trainer:
  accelerator: gpu
  gpus: "1"
  accumulate_grad_batches: 1
  # 每多少个训练 step 进行一次验证（并触发按指标保存）
  # >=1 表示按步数；0<val<1 表示按 epoch 比例
  val_check_interval: 10000
